<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'auth.css' %}">
</head>

<body>
    
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="btn-logout">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Page Content -->
    <div class="container">
        {% block contect %}
        {% endblock %}
    </div>
</body>
</html>
